In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [3]:
spark = (SparkSession.builder.appName("Dataframe_Practice").getOrCreate())

In [4]:
data = [("James", "", "Smith", "36636", "M", 3000),
        ("Michael", "Rose", "", "40288", "M", 4000),
        ("Robert", "", "Williams", "42114", "M", 4000),
        ("Maria", "Anne", "Jones", "39192", "F", 4000),
        ("Jen", "Mary", "Brown", "", "F", -1)
       ]

In [5]:
schema = StructType([
    StructField("FirstName", StringType(), True),
    StructField("MiddleName", StringType(), True),
    StructField("LastName", StringType(), True),
    StructField("ID", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Salary", IntegerType(), True)
])

In [6]:
df = spark.createDataFrame(data=data, schema=schema)

In [7]:
df.printSchema()

root
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
df.show()

+---------+----------+--------+-----+------+------+
|FirstName|MiddleName|LastName|   ID|Gender|Salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [9]:
filepath = './testdata/sf-fire-calls.csv'

In [10]:
fire_df = (spark.read.format('csv')
           .option('header', True)
           .option('inferSchema', True)
           .load(filepath))

In [11]:
fire_df.select("IncidentNumber","CallDate", "City").show(10)

+--------------+----------+----+
|IncidentNumber|  CallDate|City|
+--------------+----------+----+
|       2003235|01/11/2002|  SF|
|       2003241|01/11/2002|  SF|
|       2003242|01/11/2002|  SF|
|       2003250|01/11/2002|  SF|
|       2003259|01/11/2002|  SF|
|       2003279|01/11/2002|  SF|
|       2003301|01/11/2002|  SF|
|       2003304|01/11/2002|  SF|
|       2003343|01/11/2002|  SF|
|       2003348|01/11/2002|  SF|
+--------------+----------+----+
only showing top 10 rows

In [12]:
outputpath = './data/output/sf-fire-calls'
#fire_df.write.format('parquet').mode('overwrite').save(outputpath)

In [14]:
from pyspark.sql.types import ArrayType, FloatType, DateType, BooleanType